@import "../../Variables/variables.scss";

/* CSS */
.button-div {
  background-color: $red;
  border-radius: 20px;
  border-style: none;
  box-sizing: border-box;
  color: $whiteColor;
  cursor: pointer;
  display: inline-block;
  font-family: $fontFamily;
  font-size: $buttonText;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 20px;
  list-style: none;
  margin: 22px;
  outline: none;
  padding: 12px 26px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-div:hover,
.button-div:focus {
  background-color: $hoverButtonColor;
}
