//global
$blackColorLight:rgb(38, 38, 38);
$blackColor: rgb(10, 10, 10);
$whiteColor: white;
$redText: rgb(218, 77, 77);
$red: rgb(205, 76, 76);
$website-bkg: rgb(237, 237, 237);

//texts and subheading
$fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$navBarFontSize: 28px;
$headingExtraBig: 40px;
$headingBig: 34px;
$headingMedium: 28px;
$headingSmall: 20px;
$copyrightText: 12px;
$paragraphBig: 22px;
$paragraphMedium: 20px;
$paragraphSmall: 17px;
$textMidTransparent: rgb(169, 169, 169);
$buttonText: 18px;
//footer links
$footerLinks: 16px;
//link actions
$hoverButtonColor: rgb(238, 116, 116);
$hoverLinkArea: rgb(60, 60, 60);