@import "../../Variables/variables.scss";

.form-section{
    height: 40vh;
    display: flex;
    flex-direction: column;
    background-color: $whiteColor;
    justify-content: center;
    align-items: center;
    h2{
        font-size: $headingBig;
        text-transform: uppercase;
        font-weight: 800;
    }
    input{
        margin: 4px;
        padding: 8px;
        width: 15%;
    }
}
.form-layout {
    width: 75%;
    background-color: rgb(208, 201, 255);
}